.home {
    width: 100vw;
    height: 100vh;
    background-color: #87d9e7;
}

.homeCenter {
    background-color: white;
    border: 0px ridge;
    border-radius: 5px;
    text-align: center; 
    width: 40%;
    height: 80vh;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: scroll;
}

.icon {
    height: 10vh;
    background-color: azure;
}

.character {
    height: 25vh;
    background-color: azure;
}

.action {
    border: 1px solid green;
    border-radius: 10px;
    height: 5vh;
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items:center;
}

.popularLand {
    height: 35vh;
    width: 100%;
    position: relative;
}

.advertise {
    height: 15vh;
}

.advertise img {
    width: 80%; 
    height: 90%;
}

.specialLand {
    height: 25vh;
    width: 100%;
}