.login {
    width: 100vw;
    height: 100vh;
    background-color: #87d9e7;
}

.loginCenter {
    background-color: white;
    border: 0px ridge;
    border-radius: 5px;
    text-align: center; 
    width: 40%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}